:root {
	--dark-bg1: #1b1b1b;
	--dark-bg1-transparent: #1b1b1b99;
	--dark-bg2: #242424;
	--dark-bg2-transparent: #24242499;
	--dark-bg3: #3f3f3f;
	--dark-bg3-transparent: #3f3f3f99;
	--dark-bg4: #6b6b6b;
	--dark-bg4-transparent: #6b6b6b99;

	--light-bg1: #bdbdbd;
	--light-bg1-transparent: #bdbdbd99;
	--light-bg2: #dddddd;
	--light-bg2-transparent: #dddddd99;
	--light-bg3: #ededed;
	--light-bg3-transparent: #ededed99;
	--light-bg4: #fefefe;
	--light-bg4-transparent: #fefefe99;

	--dark-font1: #3a3a3a;
	--dark-font2: #555555;

	--light-font1: #dddddd;
	--light-font2: #fdfdfd;

	--primary: #0059ff;
	--primary-light: #4385ff;

	--secondary: #4e4e57;
	--secondary-light: #a5a5b3;

	--danger: #be0000;
	--danger-light: #ff5757;

	--success: #00921d;
	--success-light: #25e94c;

	--box-shadow: 1px 1px 2px #000000d0;

	--scroll-track-bg: #191919;
	--scroll-thumb-bg: #393939;
	--scroll-thumb-hover-bg: #454545;
	--scroll-thumb-active-bg: #303030;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Albert Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	background: transparent;
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--scroll-track-bg);

}

::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb-bg);
	border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-hover-bg);
}

::-webkit-scrollbar-thumb:active {
	background: var(--scroll-thumb-active-bg);
	box-shadow: inset 1px 1px 1px var(--dark-bg1);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::selection {
	background: var(--dark-bg2);
	color: var(--primary-light);
}

body {
	background: var(--dark-bg2);
	color: var(--light-font1);
	padding: 57px 0 52px;
	font-size: 16px;
	transition: background .2s, color .2s;
}