:root {
	--dark-bg1: #0a0a0a;
	--dark-bg2: #242424;
	--dark-bg3: #3f3f3f;
	--dark-bg4: #6b6b6b;

	--dark-font1: #cccccc;
	--dark-font2: #eeeeee;

	--light-font1: #333333;
	--light-font2: #555555;

	--primary: #000099;
	--primary-light: #0059ff;

	--secondary: #484857;
	--secondary-light: #8d8dac;

	--danger: #990000;
	--danger-light: #ff0033;

	--success: #009900;
	--success-light: #00ff33;

	--box-shadow: 1px 1px 2px #000000d0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Albert Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background: var(--dark-bg2);
	color: var(--dark-font1);
	padding: 8px;
	font-size: 16px;
}

h1 {
	font-size: 26px;
	text-align: center;
}

.primary {
	background: var(--primary-light);
	color: var(--dark-font2);
	box-shadow: var(--box-shadow);
}

.primary:-webkit-autofill,
.primary:-webkit-autofill:hover,
.primary:-webkit-autofill:focus {
	-webkit-box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--primary-light) !important;
	box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--primary-light) !important;
	-webkit-text-fill-color: var(--dark-font2) !important;
}

.secondary {
	background: var(--secondary-light);
	color: var(--dark-font2);
	box-shadow: var(--box-shadow);
}

.secondary:-webkit-autofill,
.secondary:-webkit-autofill:hover,
.secondary:-webkit-autofill:focus {
	-webkit-box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--secondary-light) !important;
	box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--secondary-light) !important;
	-webkit-text-fill-color: var(--dark-font2) !important;
}

.danger {
	background: var(--danger-light);
	color: var(--dark-font2);
	box-shadow: var(--box-shadow);
}

.danger:-webkit-autofill,
.danger:-webkit-autofill:hover,
.danger:-webkit-autofill:focus {
	-webkit-box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--danger-light) !important;
	box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--danger-light) !important;
	-webkit-text-fill-color: var(--dark-font2) !important;
}

.success {
	background: var(--success-light);
	color: var(--light-font1);
	box-shadow: var(--box-shadow);
}

.success:-webkit-autofill,
.success:-webkit-autofill:hover,
.success:-webkit-autofill:focus {
	-webkit-box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--success-light) !important;
	box-shadow: inset 0 0 5px #000000d0, inset 0 0 0 1000px var(--success-light) !important;
	-webkit-text-fill-color: var(--light-font1) !important;
}